$bg-primary-dark: #3f3f3f;
$bg-primary-light: #c8c2bd;
$bg-primary-violet: #4f005f;
$bg-primary-violet-hover: #741188;

$border-dark-opace: rgba(0, 0, 0, 0.25);
$border-dark: rgba(0, 0, 0, 0.65);
$border-light-opace: rgba(255, 253, 253, 0.35);
$border-light: rgba(255, 253, 253, 0.75);

$text-color: white;
