@use "./abstracts/variables" as *;

section {
     width: 90%;
     max-width: 40rem;
     margin: 1rem auto;
     padding: 2rem;

     border-radius: 12px;

     background-color: $bg-primary-light;
     text-align: center;

     button {
          padding: 0.75rem 2rem;

          border: 1px solid $bg-primary-blue;
          border-radius: 20px;

          background-color: $bg-primary-blue;
          color: $text-color;
          font: inherit;
          cursor: pointer;

          &:hover,
          &:active {
               border-color: $bg-primary-blue-hover;
               background-color: $bg-primary-blue-hover;
          }
     }
}
