@use "../../abstracts/variables" as *;

.form {
     display: flex;
     justify-content: space-between;

     input {
          margin-right: 2rem;
          padding: 0.25rem;

          flex: 1;

          border: none;
          border-bottom: 3px solid $border-dark-opace;

          background-color: $bg-primary-light;
          font: inherit;

          &:focus {
               border-color: $border-dark;

               outline: none;
          }
     }
}
